
#container{
	padding-top: 50px;
    padding-bottom: 40px;
    color: #5a5a5a;
	
}

#order_div{
	margin-top:20px;
	
}

#shop_msg_detail{
	height: 100px;
	margin-bottom: 20px;
}

#details_ul{
	
	display:none;
}

