body {
	padding-top: 50px;
	padding-bottom: 0px;
	margin: 0px;
}

.carousel {
	height: 500px;
	margin-bottom: 20px;
}

.carousel .item {
	height: 500px;
	background-color: #000;
}

.carousel .item img {
	width: 100%;
}

.carousel-caption {
	z-index: 10;
	color: black;
}

.carousel-caption p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}

.btnDiv {
	text-align: center;
	margin-bottom: 20px;
}

.startPrint {
	width: 200px;
	height: 50px;
}