a:hover{
	text-decoration: none;
}

li{
	list-style: none
}

#container {
	margin: 30px auto;
	width: 900px;
	height: auto;
}

#container h1 {
	text-align: center;
}

#addrInfo td {
	vertical-align: middle;
}

.changeAddr {
	float: right;
	line-height: 35px;
}

.addrSelect {
	border-color: rgb(255, 85, 0);
	border-style: solid;
	border-width: 1px;
	background-color: rgb(255, 240, 232);
}

.basic {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.send_icon {
	width: 35px;
	height: 35px;
}

.icon_hidden {
	visibility: hidden;
}

.sendto {
	color: rgb(255, 85, 0);
	margin-right: 8px;
}

.addrInfo {
	font-size: 20px;
}