

#order_total{
	margin-top:100px;
	width:800px;
	height:200px;
	margin: auto;
}

#total{
	margin-top:80px;
	width:400px;
	float: left;
	background-color: red;
}

#turnover{
	margin-top:80px;
	width:400px;
	float: left;
	background-color: gray;
} 